#files
    *.midi
    *.wav
    *.WAV
    *.out
    *.o
    *.s
    *.cdl
    *.out
    *.json

    */example

    .vscode/
    .venv/
    .idea/
    cmake-build-debug/
    

gitignore/

presentaties/
csd2b/ciskadingen/
aantekeningen/
csd2a/python_basics/audio_cat/

#cmake
*cmake-build-dir*
# cmakelists.txt

#JUCE
# JUCE/

build/

ciskaclone/